@charset "utf-8"; /*주석등에 있어 한글을 사용하기 위해 꼭 설정해야 함.*
/* reset */
*{margin: 0; padding: 0;box-sizing: border-box;} /* 전체 설정값, 보더박스 잊지 말고 꼭 해주기 */
a:link, a:visited{text-decoration: none; color: #333;}

.hWrap{background-color: skyblue;}
.hWrap>.header{
    width: 1280px;
    background-color: pink;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.hWrap>.header>h1{background-color: red;}

.hWrap>.header>h1>img{
    height: 35px;
    display: block;
}
.hWrap>.header>.menu{
    display: flex;
}
.hWrap>.header>.menu>a{
    background-color: gold;
    display: block;
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
}

.visual{
    min-width: 1280px;
    margin-bottom: 100px;
}
.visual>img{
    width: 100%;
    display: block;
}

.content{
    background-color: magenta;
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.content>h2{
    font-size: 44px;
}
.content>h2:after{
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: orange;
    margin-top: 20px;
}
.content>p{
    color: #555;
    width: 50%;
    margin-left: auto;
}

.section{
    width: 1280px; margin: 0 auto; display: flex; justify-content: space-between;
    margin-bottom: 50px;
    background-color: lime;

}
.section>.cardWrap{width: 384px;box-shadow: 10px 10px 30px rgba(0,0,0,0.2);}
.section>.cardWrap>img{width: 100%;display: block;}
.section>.cardWrap>.textWrap{padding: 20px 26px;background-color: #eee;}
.section>.cardWrap>.textWrap>h3{margin-bottom: 8px;}


.banner{
    width: 1280px;height: 460px;
    margin: 0 auto;
    position: relative;
}
.banner>.textWrap{
    width: 1100px;
    height: 330px;
    background-color: #ffd44a;
    padding-left: 100px;
    padding-top: 100px;
    box-sizing: border-box;
}
.banner>img{
    position: absolute; right: 0;bottom: 0;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
}
.banner>.textWrap>h2{margin-bottom: 30px;}
.banner>.textWrap>p{}
