@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style-type: none;
}

.inpWrap {
  width: 400px;
  margin: 0 auto;
  display: flex;
  gap: 5px;
}

.inpWrap input[type="text"] {
  flex: 1 0 auto;
  padding: 5px 10px;
}

.viewData {
  width: 400px;
  margin: 0 auto;
}

.viewData .viewList {
  /* background-color: gold; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.viewData .viewList:hover,
.viewData .viewList.active {
  background: lemonchiffon;
}

.iconWrap {
  /* background-color: skyblue; */
  display: flex;
  gap: 10px;
}
