@charset "utf-8";

/* .visualText {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
} */

.visual {
  background: skyblue;
}

.cont-1st .card {
  transition: 0.3s;
}

.cont-1st .cardWrap:hover .card {
  transform: translate(-10px, -10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cont-1st .card img {
  height: 150px;
}
