@charset "utf-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}

.vList {
  width: 300px;
}
.vList > li {
  display: flex;
  justify-content: space-between;
}
